@{
  Layout = "_Layout";
}

<div class="center">
  <form action="/recipes" method="post">
    <div class="form-group">
      <label for="recipe-name">Recipe name:</label>
      <input class="form-control update" id="recipe-name" name="recipe-name" type="text">
    </div>
    <div class="form-group">
      <label for="recipe-ingredients">Recipe Ingredients:</label>
      <textarea class="form-control update" type="text" name="recipe-ingredients" placeholder="Enter Ingredients Here..."></textarea>
    </div>
    <div class="form-group">
      <label for="recipe-instructions">Recipe Instructions</label>
      <textarea class="form-control update" type="text" name="recipe-instructions" placeholder="Enter Instructions Here..."></textarea>
    </div>
    <div class="form-group">
      <label for="recipe-rating">Recipe Rating (1-5)</label>
      <select class="recipe-rating" name="recipe-rating">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-warning">Add new recipe</button>
  </form>
  <h4><a href="/">Back Home</a></h4>
  <h4><a href="/recipes">View All Recipes</a></h4>
</div>
