@{
  Layout = "_Layout";
}
<h1>Recipes: </h1>
@foreach (var recipe in Model)
{

  <ul>
    <li><a href='/recipes/@recipe.GetId()'>@recipe.GetName()</li>
  </ul>
}

<hr>
<form  action="/recipes/search-results" method="post">
  <div "form-group">
  <label for="ingredient-search">Search By Ingredient</label>
  <input class="form-control" type="text" name="ingredient-search">
  </div>
  <br>
  <button type="submit" class="btn btn-warning" name="button">Search</button>
</form>
<hr>

<h4><a href="/recipes/new">Add New Recipe</a></h4>
<h4><a href="/">Return to Main Page</a></h4>
