@{
  Layout = "_Layout";
}


<h1>Recipe Box</h1>
<hr />
<h2>Edit Recipe: @Model.GetName()</h2>
<form action="/recipes/@Model.GetId()/update" method="post">
  <label for="new-ingredients">Ingredients:</label>
  <input type="text" name="new-ingredients" value="@Model.GetIngredients()">
  <button type="submit">Edit</button>
</form>
<h4><a href="/">Return Home</a><h4>
